@import url("https://fonts.googleapis.com/css?family=Open + Sans:700, 400");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  font-family: "Open Sans", Helvetica, sans-serif;
}

.project {
  background-color: #4c4c4c;
  border-radius: 5px;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-darker,
.dotted,
.ring {
  position: absolute;
}

.outer {
  border-radius: 50%;
  background-color: #3a3a3a;
  width: 230px;
  height: 230px;
}

.outer-darker {
  width: 215px;
  height: 215px;
  border-radius: 50%;
  background-color: #242424;
}

.dotted {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='white' stroke-width='4' stroke-dasharray='2%2c 11' stroke-dashoffset='10' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  p {
    margin: 0;
  }
}

.date {
  font-size: 12px;
}

.time {
  font-size: 40px;
  font-weight: bolder;
}

.h {
  padding-left: 20px;
  font-size: 12px;
}

.progress-ring__circle {
  stroke-dasharray: 640 640;
  animation: second 5s linear infinite;
  transform-origin: center center;
  transform: rotate(-90deg);
}

@keyframes second {
  0% {
    stroke-dashoffset: 0%;
  }
  50% {
    stroke-dashoffset: -303%;
  }
  100% {
    stroke-dashoffset: -605%;
  }
}

.heart {
  position: absolute;
  left: 40px;
  animation: grow 1s ease-in-out infinite;
}

@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale();
  }
}
